# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.python-version

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Datos pesados (no versionar)
data/
!data/README.md

# Experimentos y salidas
mlruns/
runs/
reports/figures/*.png
reports/figures/*.jpg

# Streamlit cache
.streamlit/
